.Logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.Logo img {
  width: 300px;
  height: auto;
  margin-top: 40px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 300px;
}

.icon {
  position: absolute;
  left: 10px;
  color: #ff6200;
  font-size: 20px;
}

input {
  width: 100%;
  padding: 10px 10px 10px 40px; /* Espaço para o ícone */
  border: none;
  border-bottom: 2px solid #ff8000;
  font-size: 16px;
}

input::placeholder {
  color: #ff6200;
  font-size: larger;
}

input:focus {
  outline: none;
  border-bottom-color: #ff8000;
}

button {
  width: 300px;
  padding: 10px;
  background-color: #ff6200;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #b36500;
}

/* Mensagem de erro */
.error-message {
  color: red;
  text-align: center;
  font-size: 14px;
  margin-bottom: 15px;
}
