.dropdown {
  position: relative;
  width: 100%;
}

#theme, #language {
  background-color: #a9a9a9;
  padding: 10px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 317px;
  font-weight: bold;
  font-size: 20px;
  margin-top: 10px; /* Espaço entre os botões e os dropdowns */
}

.drop-content {
  display: none;
  position: absolute; /* Permite que o dropdown apareça abaixo do botão */
  background-color: #a9a9a9;
  width: 317px; /* Mesmo tamanho que os botões */
  z-index: 1;
  cursor: pointer;
  margin-top: 5px; /* Espaço entre o botão e a lista */
}

.drop-content.show {
  display: block; /* Torna visível o dropdown */
}

.drop-content ul {
  padding: 10px;
  margin: 0;
  list-style: none;
}

.drop-content li {
  padding: 5px 0;
  border-bottom: 1px solid #ccc;
}

.drop-content li:last-child {
  border-bottom: none;
}

#submit {
  font-size: 20px;
  font-weight: bold;
  color: black;
  margin-top: 20px; /* Espaço acima do botão "Atualizar" */
}

#submit-container {
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  margin-top: 20px; /* Espaço acima do botão "Atualizar" */
}
