.full-screen {
  background-color: #cccccc;
}

#new-user {
  background-color: #cc2900;
  width: 169px;
  margin-top: 5px;
  color: white;
}

.column h2 {
  margin-right: 10px;
}

#content-section {
  display: flex;
  gap: 60px;
  margin-top: 30px;
}
