@import url("https://fonts.googleapis.com/css?family=Poppins:300,500,400,600");
* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  font-family: 'Poppins', sans-serif;
  height: 100%;
  background-color: #f1f1f1; /* Fundo mais próximo do mostrado no print */
}

.app-container {
  padding: 20px;
  background-color: #e6e6e6;
  border-radius: 8px;
  min-height: 100vh; /* Ajuste para ocupar a altura total da tela */
}

#header-grid {
  display: grid;
  justify-self: center;
  padding: 10px;
  position: relative;
  max-width: fit-content;
}


.search-container {
  flex-grow: 1;
  margin-left: 12px; /* Ajuste para espaçamento */
}

.search-input {
  width: 250px; /* Diminui o tamanho da barra de pesquisa */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 20px; /* Espaçamento entre os botões */
  margin: 20px auto; /* Centraliza o contêiner dos botões */
}

.report-button,
.register-button {
  background-color: #e65100;
  color: white;
  padding: 12px 25px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.report-button:hover,
.register-button:hover {
  background-color: #d84329;
}

.inventory-container {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
}

.section {
  flex: 1;
  min-width: 220px;
  background-color: #ffffff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.item {
  background: #f4f4f4;
  margin-bottom: 15px;
  padding: 12px;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

select {
  margin-top: 7px;
  padding: 6px;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 100%;
}

/* Responsividade */
@media (max-width: 600px) {
  .header-title-search {
    flex-direction: block;
  }

  .search-container {
    margin-bottom: 10px;
  }

  .search-input {
    width: 100%; /* Larga a barra de pesquisa para telas menores */
  }

  .inventory-container {
    flex-direction: column;
  }

  .button-container {
    flex-direction: column;
    margin: 20px 0; /* Ajuste para centralizar os botões na responsividade */
    }
}