#title-container {
  margin-top: 50px;
}

#logo {
  width: 222px;
  height: 166px;
  background-color: transparent;
}

#container-backoffice {
  height: 10hv;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

button {
  width: 300px;
  height: 40px;
  background-color: #e65100;
  transition: transform 0, 1s ease, background-color 0.3s ease;
  border-radius: 8px;
}

button:active {
  transform: scale(0.95);
}

button:hover {
  cursor: pointer;
}

#side-button-container {
  margin-top: 10px;
  margin-right: 10px;
  display: block;
  align-self: flex-end;
}

#side-button {
  background-color: transparent;
  width: 70px;
  height: 70px;
  border: none;
  padding: 0;
}

#btns-container {
  margin-top: 2vh;
}

#btn-vendas-container {
  margin-top: 10px;
}

#btn-estoque-container {
  margin-top: 10px;
}

#btn-admin-container {
  margin-top: 10px;
}