* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-y: auto;
}

#menuConfig-card {
  background-color: #e5e5e5;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 80%;
  justify-self: center;
}
#menuConfig-h1 {
  display: flex;
  justify-content: center;
}

#menuConfig-h2-container {
  display: flex;
  justify-content: center;
}

#menuConfig-h3 {
  display: flex;
  justify-content: center;
}

#menuConfig-first-half {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2vh;
}

#menuConfig-category-map-list {
  max-width: fit-content;
  width: 100vh;
}

#menuConfig-input-add-category-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#menuConfig-input-add-category {
  border-radius: 8px;
  border: 2px solid #ff6200;
  width: 60vh;
}

#menuConfig-btn-add-category-container {
  display: flex;
  justify-content: center;
  margin-top: 3vh;
}

#menuConfig-form-container {
  display: flex;
  flex-direction: column;
  justify-items: center;
  margin-top: 2vh;
  gap: 2vh;
  width: 100%;
}

#menuConfig-cadastro-de-produto {
  align-self: center;
}

#menuConfig-btn-cadastrar-produto {
  background-color: #ff6200;
  color: black;
  font-size: 16px;
  font-weight: bold;
}

@media (max-width: 768px) {
  #menuConfig-input-add-category {
    width: 100%;
  }

  #menuConfig-card {
    width: 100%;
  }
}
