body,
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: Arial, sans-serif;
  font-weight: bold;
}

#top-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: top;
}

#logo-container {
  margin-left: 100px;
  margin-top: 30px;
}

#logo-help {
  width: 121px;
}

#button-container {
  margin-right: 100px;
}

#sidebar-button {
  height: 70px;
  width: 70px;
  background-color: transparent;
  margin-top: 10px;
  margin-right: 10px;
  border: none;
  cursor: pointer;
}

#title-container {
  padding: 0;
  margin: 0;
  text-align: center;
}

#title-help {
  font-size: 36px;
  margin-top: 10px;
}

#main {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#main-section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  gap: 20px; /* Espaço entre as divs */
}

#faq-content,
#support-container {
  flex: 1;
  min-width: 250px;
}

#support-container {
  font-size: 18px;
  display: flex;
  flex-direction: column;
}

#client-data-container {
  font-size: 15px;
  max-width: 100%;
}

#name-input,
#email-input,
#text-box {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

#client-opinion {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#textbox-client {
  width: 100%;
}

#text-box {
  height: 293px;
  width: 100%;
  background-color: #a9a9a9;
}

#btn-container {
  margin-top: 40px;
  display: flex;
  justify-content: flex-end;
}

#submit {
  width: 164px;
  height: 44px;
  border-radius: 8px;
  background-color: #cc2900;
  color: white;
  cursor: pointer;
}

@media (max-width: 768px) {
  #faq-content,
  #support-container {
    width: 100%;
    margin: 0 auto;
  }

  #logo-help {
    width: 60px;
  }

  #logo-container {
    display: flex;
    align-self: flex-start;
  }

  #btn-container {
    justify-content: center;
  }
}

@media (max-width: 600px) {
  #support-container {
    padding: 5px;
  }

  #support-container input,
  #text-box {
    padding: 10px;
  }

  #btn-container {
    flex-direction: column;
    align-items: center;
  }

  #submit {
    width: 100%;
    margin-top: 10px;
  }
}
