/* Estilo global para garantir que a tela seja rolável */
#container {
    height: 100vh; /* Altura total da viewport */
    overflow-y: auto; /* Ativa o scroll vertical */
    display: flex;
    flex-direction: column;
}

/* TopNavBar com estilo de carrossel horizontal */
.top-navbar {
    height: 95px;
    display: flex;
    overflow-x: auto; /* Ativa o scroll horizontal */
    white-space: nowrap; /* Mantém os itens em linha única */
    padding: 10px 0;
    margin-bottom: 20px;
    scroll-behavior: smooth; /* Scroll suave */
    gap: 10px; /* Espaço entre os botões */
    width: -webkit-fill-available; /* Preenche o espaço disponível */
    width: fill-available;
    justify-content: center;
}
img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
}

/* Estilização do scrollbar para o TopNavBar */
.top-navbar::-webkit-scrollbar {
    display: none; /* Esconde o scrollbar para estilo mais limpo */
    color: #333333;
}

/* Botões do TopNavBar */
.nav-button {
    font-size: 14px;
    font-weight: bold;
    background-color: #ff8000; /* Cor principal */
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    flex-shrink: 0; /* Garante que os botões não encolham */
    height: fit-content;
    width: max-content;
}

.nav-button:hover {
    background-color: #b35100;
}

.nav-button:active {
    background-color: #943900;
}

/* Categorias */
.menu-category {
    margin-bottom: 40px;
    padding: 10px 15px;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.menu-category h2 {
    font-size: 24px;
    color: #333;
    text-transform: uppercase;
    border-bottom: 2px solid #ff6200;
    padding-bottom: 5px;
    margin-bottom: 15px;
}

/* Garantindo que a tela seja responsiva */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    overflow: hidden; /* Impede o scroll duplicado */
}

.menu-container {
    flex-grow: 1; /* Ocupa todo o espaço restante para scroll */
    padding: 0 20px;
    overflow-y: auto; /* Ativa o scroll interno */
}

/* Responsividade para telas menores */
@media (max-width: 768px) {
    .nav-button {
        font-size: 12px;
        padding: 8px 10px;
    }

    .menu-category h2 {
        font-size: 20px;
    }
}
