body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: Arial, sans-serif;
}

#title-container {
  margin-top: 50px;
}

#logo {
  width: 222px;
  height: 166px;
  background-color: transparent;
}

#container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

button {
  width: 300px;
  height: 40px;
  background-color: #e65100;
  transition: transform 0, 1s ease, background-color 0.3s ease;
}

button:active {
  transform: scale(0.95);
}

button:hover {
  cursor: pointer;
}

#side-button-container {
  margin-top: 10px;
  margin-right: 10px;
  display: block;
  align-self: flex-end;
}

#side-button {
  background-color: transparent;
  width: 70px;
  height: 70px;
  border: none;
}
